파이썬의 주요 데이터분석 라이브러리
NumPy(넘파이):배열,행렬관련 편리한 기능 제공
Pandas (판다스): series dataframe등의 자료구조를 활용한데이터분석기능제공
Matplotlib (맷플롭립) :data 분석결과 시각화하는데유용한기능제공

판다스 기초
pandas
-series,Dataframe등의 자료 구조를 활용한 데이터 분석 기능을 제공해주는 라이브러리
pandas 라이브러리 구성은 
- 여러종류의클래스와 다양한 내장함수로 구성
-시리즈와 데이터 프레임이라는 데이터 구조 클래스 객체 포함
- 자주 사용되는 내장함수들 Series() Dataframe() read_excel(), read_csv()

Series와 Dataframe: 구조화된 데이터 형식
    Series 1차원 배열 
    Dataframe 2차원 테이블형태
판다스  1차적인 목적
- 서로다른 여러가지 유형의 데이터를 공통의 포맷으로 정리하는것
- 특히 행과 열로 이루어진 2차원 구조의 데이터프레임 형식으로 사용
-데이터 분석 실무에서 자주사용된다

시리즈부터 시작
- 시리즈는 데이터가 순차적으로 나열된 1차원 배열형태
- 인덱스 index 와 data 값 (value) 이 1:1로 대응
-딕셔너리와 비슷한 구조 : [key:value]
-시리즈의 인덱스는  = 데이터의 값의 위치를 나타내는 이름표 (숫자,문자)

시리즈 만들기: 판다스의 내장 함수인 Series 함수 사용
1   리스트로 시리즈 만들기
2   딕셔너리로 시리즈 만들기

In [2]:
# pandas 불러오기
import pandas as pd

In [6]:
#시리즈 만들기: Series(): 함수사용
#리스트로 시리즈만들기
# 형식: series (1차원계열: 리스트)
s = pd.Series([1,2,3])
s
#index :0부터 시작하는 정수값으로 자동 지정

0    1
1    2
2    3
dtype: int64

In [7]:
#딕셔너리로 시리즈 만들기
#딕셔너리는 중괄호 {} 젭알..
scores={"홍길동":95,'이몽룡':100, '성춘향':88}
s = pd.Series(scores)
s

홍길동     95
이몽룡    100
성춘향     88
dtype: int64

In [8]:
#숫자 인덱스 지정하면서 시리즈 생성

s= pd.Series([10,20,30], index=[1,2,3])
s

1    10
2    20
3    30
dtype: int64

In [9]:
#문자인덱스 사용
s =pd.Series([95,100,88],
            index = ['홍길동','이몽룡','성춘향'])
s

홍길동     95
이몽룡    100
성춘향     88
dtype: int64

In [23]:
#123456,345678,369252, 7894561
#인덱스 : 서울 부산 인천 대구
#시리즈 s 생성

s= pd.Series([123456,345678,369252, 7894561],
             index=['서울','부산','인천','대구'])
s

서울     123456
부산     345678
인천     369252
대구    7894561
dtype: int64

In [11]:
#시리즈의 범위설정 일정범위의 값으로 설정
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [12]:
#시리즈의 인덱스는 index 속성으로 접근해서 확인가능
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [13]:
#시리즈의 값은 values 속성으로 접근해서 확인가능
s.values # 1차원배열

array([ 123456,  345678,  369252, 7894561], dtype=int64)

In [14]:
# 인덱스와 데이터의 이름 붙이기 
# index.name 속성으로 시리즈 인덱스에 이름을 붙일 수 있음
s.index.name= '도시'
s

도시
서울     123456
부산     345678
인천     369252
대구    7894561
dtype: int64

In [15]:
# 데이터에는 name속성을 이용해서 시리즈에 이름을 붙일수 있음
s.name= '인구'
s

도시
서울     123456
부산     345678
인천     369252
대구    7894561
Name: 인구, dtype: int64

시리즈인덱싱 (index)
데이터에서 인덱스를 사용해서 특정 데이터만 골라내는것(추출)
인덱스종류
1 정수형 위치 인덱스 integer position
2 인덱스이름(index name)/ 인덱스 라벨 index lable
    인덱스 이름 예; 서울 부산 인천 대구

In [16]:
# 정수형 위치 인덱스를 사용한 인덱싱
s[0] # 첫번째 요소 원소

123456

In [17]:
# 인덱스 이름/인덱스 라벨 이용한 인덱싱
s['부산']

345678

In [18]:
#정수형 위치 인덱스 인덱스 이름(인덱스 라벨)
s[3],s['대구']

(7894561, 7894561)

In [19]:
#배열 인덱싱을 하면 데이터의 순서 변경하기 
#특정 데이터만선택가능
# 인덱스 사용법 s[0] 인덱스값이 1개인경우
# 인덱스값이 여러개인 경우 리스트로표현 [0,3,1]
#[[0,3,1]]
s[0]
s[[0,3,1]]

도시
서울     123456
대구    7894561
부산     345678
Name: 인구, dtype: int64

In [28]:
#인덱스 라벨을 사용해서 서울 대구 부산만 출력
s[['서울','대구','부산']]

도시
서울     123456
대구    7894561
부산     345678
Name: 인구, dtype: int64

In [29]:
#시리즈 슬라이싱
#정수형 위치 인덱스 사용한 슬라이싱
#2-3번째
s[1:3]

도시
부산    345678
인천    369252
Name: 인구, dtype: int64

In [30]:
s

도시
서울     123456
부산     345678
인천     369252
대구    7894561
Name: 인구, dtype: int64

In [31]:
#인덱스 라벨을 사용한 슬라이싱가능
#부산인천대구추출
#[start:end] "" 양 요소에 붙이기
s['부산':'대구']

도시
부산     345678
인천     369252
대구    7894561
Name: 인구, dtype: int64

In [34]:
#라벨값이 영문 문자열인경우
#속성인것처럼 점(.)을이용해 접근 가능
# s.a
s1 = pd.Series(range(3),index=['a','b','c'])
s1

a    0
b    1
c    2
dtype: int64

In [37]:
#인덱스 ,abc 영문 문자열
#속성인 것 처럼 점을 이용해 접근
s1.a ,s1.b

(0, 1)

시리즈의 데이터를 갱신/추가/삭제
인덱싱을 이용하면 딕셔너리처럼 데이터를 찾아서 갱신(업데이트)하거나
추가 삭제가능

In [39]:
#데이터 삭제 del 명령어 사용
del s['서울']
s

도시
부산     567894
인천     369252
대구    7894561
Name: 인구, dtype: int64

In [24]:
#데이터추가
s['광주'] = 234000
s

서울     123456
부산     345678
인천     369252
대구    7894561
광주     234000
dtype: int64

In [38]:
#부산의 데이터 변경
s ['부산'] = 567894
s

도시
서울     123456
부산     567894
인천     369252
대구    7894561
Name: 인구, dtype: int64

In [ ]:
del s
s # 오류

연습문제 1
임의로 2개의 시리즈 객체 생성 
모두 문자열로 인덱스로 생성
두 시리즈에 다르게 라벨 설정

In [42]:
a= pd.Series([123456,345678,369252, 7894561],
             index=['기역','니은','디귿','리을'])
a

기역     123456
니은     345678
디귿     369252
리을    7894561
dtype: int64

In [44]:

a1 = pd.Series(range(4),index=['갑','을','병','정'])
a1

갑    0
을    1
병    2
정    3
dtype: int64

데이터프레임
- 2차원 행렬 데이터 인덱스를 붙인것
- 행과 열로 만들어지는 2차원 배열구조
- 데이터 이름에만 열이름이 있다 행렬에는 열이름이없당
- R의 데이터 프레임에서 유래
- 데이터 프레임의 각 열은 시리즈 객체로 이루어져있음
- DataFrame()함수를 사용해서 데이터프레임생성
- 리스트로 데이터프레임생성
-딕셔너리로 데이터프레임생성

In [47]:
#리스트로 데이터프레임생성
df= pd.DataFrame([['a','b','c'],
                 ['a','a','g'],
                 ['a','i','j']])
df
#열 이름과 인덱스 자동 생성
# 열 이름: 열방향 인덱스 (가로)
# 인덱스 : 행방향 인덱스(세로)

   0  1  2
0  a  b  c
1  a  a  g
2  a  i  j

In [49]:
#열 이름과 인덱스 지정하고 데이터프레임생성 #딕셔너리값..
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'], #하나의열
                    'B':['B0','B1','B2','B3'],
                    'C':['C1','C2','C3','C4']},
                  index=[0,1,2,3])
df1

    A   B   C
0  A0  B0  C1
1  A1  B1  C2
2  A2  B2  C3
3  A3  B3  C4

In [3]:
df2 = pd.DataFrame([[1,2,3,4,],
                   [5,6,7,8],
                   [9,8,7,6]])
df2

   0  1  2  3
0  1  2  3  4
1  5  6  7  8
2  9  8  7  6

In [4]:
df2 = pd.DataFrame({10:[1,2,3,4,], #10은 20,30 모두 열이름
                   20:[5,6,7,8],
                   30:[9,8,7,6]})
df2

   10  20  30
0   1   5   9
1   2   6   8
2   3   7   7
3   4   8   6

In [ ]:
# 딕셔너리 데이터 프레임 생성
# Key : '2015','2010','2000','지역','2010-2015 증가율'
# index : '서울','부산','인천','대구'

#데이터는 숫자 6자리, 증가율은 0.2345 소수점 이하 4자리

In [9]:
cty = pd.DataFrame({'2015':[123456,345678,123456,123456], #하나의열
                    '2010':[123456,123456,123456,123123],
                    '2000':[456789,567898,456789,456123],
                    '지역':['수도권','경상권','수도권','경상권']},
                  index=['서울','부산','인천','대구'])
cty.index.name= '2010-2015 증가율'
cty

                 2015    2010    2000   지역
2010-2015 증가율
서울             123456  123456  456789  수도권
부산             345678  123456  567898  경상권
인천             123456  123456  456789  수도권
대구             123456  123123  456123  경상권

In [19]:
data= {'2015':[123456,345678,123456,123456], #하나의열
                    '2010':[123456,123456,123456,123123],
                    '2000':[456789,567898,456789,456123],
                    '지역':['수도권','경상권','수도권','경상권'],
                   '2010-2015 증가율':[0.2222,0.4354,0.1234,0.0333]
       }
#열방향 인덱스 (열이름)
# colums=['2015','2010','2000','지역','2010-2015 증가율']
#행방향 인덱스(index)
index=['서울','부산','인천','대구']
#데이터 프레임생성
#DataFrame (데이터,index,colums)
df4 = pd.DataFrame(data, index=index )
df4

      2015    2010    2000   지역  2010-2015 증가율
서울  123456  123456  456789  수도권         0.2222
부산  345678  123456  567898  경상권         0.4354
인천  123456  123456  456789  수도권         0.1234
대구  123456  123123  456123  경상권         0.0333

In [22]:
data= {'2015':[123456,345678,123456,123456], #하나의열
       '2010':[123456,123456,123456,123123],
       '2000':[456789,567898,456789,456123],
       '지역':['수도권','경상권','수도권','경상권'],
       '2010-2015 증가율':[0.2222,0.4354,0.1234,0.0333]
      }
#열방향 인덱스 (열이름)
columns=['2015','2010','2000','지역','2010-2015 증가율'] #사실필요없음 딕셔너리에선
#행방향 인덱스(index)
index=['서울','부산','인천','대구']
#데이터 프레임생성
#DataFrame (데이터,index,colums)
df4 = pd.DataFrame(data, index=index,columns=columns )
df4
#딕셔너리로 데이터프레임을 생성할경우 key값이 열이름 , 별도의 columns 필요없음
# columns 을 사용해 새로 열 이름르 붙일수 있지만 key에 해당하는 열 이름이 아닌 경우 값이 NaN 출력

      2015    2010    2000   지역  2010-2015 증가율
서울  123456  123456  456789  수도권         0.2222
부산  345678  123456  567898  경상권         0.4354
인천  123456  123456  456789  수도권         0.1234
대구  123456  123123  456123  경상권         0.0333

In [28]:
# 리스트로 데이터프레임생성
# 열 이름: 나이 몸무게 키 성별 주소
# index= 홍길동 이몽룡 성춘향 변학도 박지성
#변수에 값 저장하고 변수사용
lists= ['나이','몸무게','키','성별','주소']
index = ['홍길동','이몽룡','성춘향','변학도','박지성']
나이 = [20,23,24,25,26]
몸무게 = [80,70,60,100,80]
키 = [178,179,165,198,200]
성별 = ['남','남','여','남','남']
주소=['평양','남원','남원','남원','서울']

#열방향 인덱스 (열이름)
columns=['2015','2010','2000','지역','2010-2015 증가율'] #사실필요없음 딕셔너리에선
#행방향 인덱스(index)
index=['서울','부산','인천','대구']
#데이터 프레임생성
#DataFrame (데이터,index,colums)
df4 = pd.DataFrame(data, index=index,columns=columns )
df4

ValueError: Shape of passed values is (5, 5), indices imply (4, 5)

In [26]:
#정답
data= [
    [22,60.1,170.5,'남','서울'],
    [45,51.3,157.3, '여','부산'],
    [23, 88.3, 180.5,'남','대구'],
    [33,87.1, 180.5,'남','제주'],
    [38,83.6, 183.5,'남','강릉'],
]
index=['홍길동','이몽룡','성춘향','변학도','박지성']
columns=['나이','몸무게','키','성별','주소']

df5 = pd.DataFrame(data, index=index, columns=columns)
df5

     나이   몸무게      키 성별  주소
홍길동  22  60.1  170.5  남  서울
이몽룡  45  51.3  157.3  여  부산
성춘향  23  88.3  180.5  남  대구
변학도  33  87.1  180.5  남  제주
박지성  38  83.6  183.5  남  강릉