데이터프레임인덱싱

월요일 내용 복습: 
    인덱스 행 커럼스 열
    df.index
    df. column label특정열 이;ㄴ덱싱 / 문자/정수? /
    df['지역' 하나만 인덱스 :열] - 행 인덱스 오류
    시리즈: 
        여러행 df [[]] 결과 데이터프레임
        문자라벨= df['2010'] 문자 정수값오류
        num타입 np  값 pd. DetaFrqame(np.arrange)
        어레인지: 숫자 reshape 몇행몇열
            정수인덱스
            df2 [2]
            df2 [[2,4]]
            df2.values -
            df2.shape
            df2.size 타입
            ㄴ 열타입은 1개의 값만
행인덱싱 행추출
슬라이싱 가능
df[start:end] 한개라도 1개행이라도 슬라이싱 해야함
df[:1] :슬라이싱해야 행인줄안다
    1개값만 넣은면 열인덱싱
    df.iloc > 연속되지 않다 
    df.loc 
        
    개별 데이터인덱싱
행= 열이 위치한 데이터추출 df [열][행]
스칼라값: 하나의 값
    전치: 행과 열 위치바꾸기
        df.T
# 정리:
데이터프레임
인덱싱: 열대상/ 문자-라벨 /1개의 열시리즈 여러개의 열 -데이터프레임반환
    1개의열 [] 정수인덱싱
    #슬라이싱 행 대상
인덱스가 정수 문자 다 슬라이싱가능 = 데이터프레임
인덱스>> 시리즈 >> 전치하면함

#고급인덱싱...
인덱 
판다스 [행인덱스,열인덱스 형식] mumpy
loc 라벨값2차원 이름이문자인경우
iloc 순서 나타내는 정수기반 2차원 인데싱
at 

df.loc[행인덱싱값]값을하남나 넣으면 행선택
df.loc[행값,열값]

loc 문자인덱시인경우 행추출 
1개의 행선택
여러개 리스트묶기 df.loc[[]]
행 슬라이싱 [:]
loc 쓰던 안쓰던 슬라이싱값비슷
df.loc[df.A>15] #이렇게쓸수도있따
함수로 인덱스값을 반환하는 함수를 만들수도있따.
def select_rows(df):
return
;loc 인덱스 > 정수인덱스만 문자는 start end 정수는 start end-1
df2.loc[0:2] #문자 인덱스과 동일한 범위로 선택 > 혼동될시 하나만 정해서 
정수형/문자형
df.loc[행인덱스,열인덱스]
df.loc['a','A'] a행 A열의값
df loc [행의값,열의값] 콤마기준 [[],[]]이렇게가능
iloc 정수인덱스만 받음
start :end-1 정수기반
at end 인덱스

# 데이터프레임조작
# 데이터갯수세기 count 시리즈 na값 안셈
# r각열마다 데이터개수 세기
# 데이터 : 0-4  
    df= pd.DataFrmae(np.random.randint(6,
                                      size=(4,4),
                                      dtype=float)
                     df.count()

In [8]:
import seaborn 
import pandas as pd

titanic.count()

캬테고리값 세기
np.random.seed(1)

value_count > 벨류중에서 카운트
열마다 별도로 지정
#정렬 인덱스값 sort_index
sort_values : ascending(오름차순) =False 내림차순
nan값 제일마지막
sort_values 메소드> by 인수 로 정렬 기준으로 열정렬됨
by=[1,2] 1차정려 2차정렬로 정렬 1열 기준 1차 동일한 값이 존재할시2열 기준 2차정렬수행
#행열합계
sum(axis=0)열합계
sum(axis=1)행합계

## apply()변환
행이나 열 단위로 더 복잡한 처리를 할때 apply 매소드 사용
인수로 행 또는 열 을 받는 함수를 
apply 메소드의 인수로 넣으면
각 열 또는 행 을 반복해서 그 함수에 적용

In [18]:
df3= pd.DataFrame({
    'A':[1,3,4,3,4],
    'B':[2,3,1,2,3],
    'C':[1,5,2,4,4]
})
df3

   A  B  C
0  1  2  1
1  3  3  5
2  4  1  2
3  3  2  4
4  4  3  4

In [23]:
# 각열의 최대값 최소값 차이구하기
# -apply()함수 사용
# -적용할 함수를 람다 함수사용
# - apply 함수에서 axis =0 디폴트 생략 : 열 적용
# apply 함수에서 aixs-0 디폴트로 열에적용 
df3.apply(lambda x : x.max()-x.min())

A    3
B    2
C    4
dtype: int64

In [24]:
# aixs=0 생략가능 
df3.apply(lambda x : x.max()-x.min(), axis=0) #결과동일

A    3
B    2
C    4
dtype: int64

In [25]:
#axix=1로 행에 적용
df3.apply(lambda x : x.max()-x.min(), axis=1)

0    1
1    2
2    3
3    2
4    1
dtype: int64

#lambda : lamda 입력되는 값: 출려되는 값
#입력되는 값으로 주어진 식을 수행한 후 값 반환 출력 :return
#axis =0 디폴트 열값
# (lambda a,b : a+b) (3,5)

#람다식 : lambda
lamda: 실행시 (런타임) 생성해서 사용할 수 있는 익명함수 
익명함수 :이름이 없는 함수
입력과 출력이 있는 간단한 한행짜리 함수를 만들때ㅔ 사용       
같은 함수를 def로 정의할때보다 간결
형식 : lambda매개변수(입력) :표현식(출력)
사용 : (lambda 매개변수 : 리턴값) (함수로 전달되는 값)
   - (lambda a,b : a+b)(3,5)

In [19]:
#def로 정의한 함수
def add(a,b) :
    return a+b
add(3,5)

8

In [22]:
#람다식으로 표현
(lambda a,b : a + b)(3,5)

8

각열에 대해 어떤 값이 얼마나 사용되었는지 몇번이나 나왔는지 
빈도수 확인 
각 열에서 어떤값의 빈도수 출력 
value_counts() 함수사용
데이터프레임에서 열 마다 적용
#0열 인경우 :#df[0].value_counts()

In [26]:
df3

   A  B  C
0  1  2  1
1  3  3  5
2  4  1  2
3  3  2  4
4  4  3  4

In [30]:
#df3.value_counts() #에러발생
# 데이터프레임에 적용할수 없고 열마다 적용해야한다
df3['A'].value_counts()

4    2
3    2
1    1
Name: A, dtype: int64

In [31]:
#apply(메소드)를 사용하면 모든 열에 한번에 사용가능
df3.apply(pd.value_counts)
#A 열에서 1은 1번 2는0번 3은 2번

     A    B    C
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

<!-- #현재 실수로 되어있는 빈도수를 정수로 변환
#astype(int)함수사용
# df3.apply(pd.value_counts).astype(int) 
# #Nan 값때문에 에러남
# 실수로 되어있는 빈도수를 정수형(int)형변환 하는데 에러발생
# 이유: 결측값(NaN)이 존재하기떄문
# 결측값은 연산할수없으므로 연산 시 오류 발생
 -->

In [34]:
#결측값을 0으로 변경한 후 정수형으로 변환
#결측값을 다른값으로 채우는 함수 fillna(0)
df3.apply(pd.value_counts).fillna(0).astype(int)

   A  B  C
1  1  1  1
2  0  2  1
3  2  2  0
4  2  0  2
5  0  0  1

#실수 값을 카테고리 값으로 변환
실수값은 크기 기준으로 해서 카테고리 값으로 변환함수
-cut() : 실수값의 경계선을 지정하는 경우
-qcut() : 개수가 동일한 구간으로 나누는 경우

cut()함수 : 실수값의 경계선을 지정하는 경우
- 예를 들어 나이(0,15,20,30,23,...100) 까지 있을떄 
경계선 나이를 1, 15, 25, ... 지정해서 
- 카테고리: 미성년자, 청년,중년,노년 ... 등의 카테고리로 나눌경우
- cut 함수 사용

In [36]:
#나이값 설정
ages=[0,2,10,21,23,37,31,61,20,41,32,100] 
#length: 12

In [37]:
# cut 함수 : 실수값을 카테고리 값으로 변환할수있다
# bins 인수 : 카테고리를 나누는 기준값
# 영역을 ㅂ서어나는 값 : Nan 으로 처리
#카테고리 나누는 기준
bins = [1,15,25,35,60,99]
labels= ['미성년자','청년','중년','장년','노년']
#cut 함수 적용한 결과_ 변수에 저장
ctgs= pd.cut(ages,bins,labels=labels)
ctgs

[NaN, 미성년자, 미성년자, 청년, 청년, ..., 노년, 청년, 장년, 중년, NaN]
Length: 12
Categories (5, object): [미성년자 < 청년 < 중년 < 장년 < 노년]

In [ ]:
cut 함수 반환값은 Categorical 클래스의 Categories 속성이다
Categories 속성: 라벨 문자열의 카테고리 값 
codes 속성: 정수로 인코딩된 카테고리 값

In [38]:
type(ctgs)

pandas.core.arrays.categorical.Categorical

In [39]:
#Categories 속성 : 라벨 문자열의 카테고리 값 
ctgs.categories

Index(['미성년자', '청년', '중년', '장년', '노년'], dtype='object')

In [42]:
# ctgs.codes : 정수로 인코딩된 카테고리값
ctgs.codes
# ages=[0,2,10,21,23,37,31,61,20,41,32,100] 
# bins = [1,15,25,35,60,99]

# array([-1,  0,  0,  1,  1,  3,  2,  4,  1,  3,  2, -1]

array([-1,  0,  0,  1,  1,  3,  2,  4,  1,  3,  2, -1], dtype=int8)

In [80]:
#결과를 데이터프레임으로 생성 출력
# ages 열만 있는 데이터플에ㅣㅁ
df4 =pd.DataFrame(ages, columns=['ages'])
#df4

#cut()함수를 적용한 결과를 df4의 age_ctg 열로 추가
bins = [1,15,25,35,60,99] 
labels= ['미성년자','청년','중년','장년','노년']
#열추가 df4 ['추가할 열이름' ] = 함수
bins = [1,15,25,35,60,99]
labels= ['미성년자','청년','중년','장년','노년']
no == titinic
no_ctgs= pd.cut(no,age,bins,labels=lables)
no_ctgs

NameError: name 'no' is not defined

qcut() : 구간 경계선을 지정하지 않고 데이터 개수가 같도록 지정한 수의구간
    예 : 1000개의 데이터를 4개구간으로 나눔 각 구간은 250개씩 데이터 포함

In [55]:
import numpy as np
data= np.random.randn(1000)
ctgs2= pd.qcut(data,4,labels=['Q1','Q2','Q3','Q4'])
ctgs2

[Q3, Q3, Q1, Q2, Q4, ..., Q3, Q3, Q2, Q4, Q1]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [54]:
pd.value_counts(ctgs2)

NameError: name 'ctgs2' is not defined

In [ ]:
#연습
import seaborn
seaborn.set()
tt=pd.read_csv('https://raw.githubusercontent.com/TeamLab/machine_learning_from_scratch_with_python/master/code/ch12/titanic/train.csv')
tt
print(tt.shape)
del tt['PassengerId']
del tt['Name']
del tt['Ticket']
del tt['Cabin']
print(tt.head())
tt['Age'].value_counts()
tt['Survived'].value_counts()
tt.apply(pd.value_counts).fillna(0).astype(int)

In [94]:
## import seaborn as sns

#연습문제
# 타이타닉 승객 삼아자 생존자 그룹으로나누어각그룹에 대해
# '미성년자','청년','장년','노년'으로 구분해서승객비율구하기
# 각그룹별로 비율의 전체합은 1이됨
# 사망자 비율 0.xxx
# 생존자 비율 0.xxxx
import seaborn as sns
titanic =sns.load_dataset('titanic')
titanic 
seaborn.set()
#alive 열에서 값이 yes 인 것 만 추출
#alive 열에서 값이 no 인 것 만 추출
#tk사망자와 생존자 그룹 생성

no=titanic[titanic['alive'] =='no']

yes= titanic[titanic['alive'] =='yes']
# 1 사망자 그룹 카테고리 설정

#cut 함수 사용해서 
no_ctgs=

# 2 각 기준 값의 빈도수 출력
# 3 no_ctgs= 전체수 출력
 # 4 사망자 비율 : 각 기준 값의 빈도수/ 전체수
#각 기준값에 적용
bins = [1,15,25,35,60,99]
labels= ['미성년자','청년','중년','장년','노년']
##사망자비율 ##
# 청년 = 0.338363
# 장년 = 0.2777251
# 중년 = 0.267779
# 미성년자 = 0.075829
# 노년 = 0.040284
##생존자비율##

# 중년 = 0.298561
# 장년 = 0.2805761
# 청년 = 0.269784
# 미성년자 = 0.133094
# 노년 = 0.0284
# 생존자 동일하게 적용 #인원수가 맞는지 확인   
    
bins = [1,15,25,35,60,99]  #  1인 이하
labels= ['미성년자','청년','중년','장년','노년']
#1 컷함수 사용
ctg.categories0
no = titanic [titanic['alive']=='no']
yes= titanic [titanic['alive']=='yes']
#2 cut 함수사t용
yes.ctgs= pd.cut(yes.age,bins,labels=lables)
yesctgs
yes.ctgs.value_counts()

SyntaxError: invalid syntax (<ipython-input-94-ae8a4c3da03b>, line 24)

In [87]:
#3 전체 수 출력
no_ctgs.count()
#(4)사망자 비율 :각 기준값의 빈도수 /전체수
    #각기준 값에 적용
no_ctgs= pd.cut()
no.ctgs.count()
no_ctgs.values.counts().apply(lambda x:x/no_ctgs_count())
#전체사망자수

TypeError: cut() missing 2 required positional arguments: 'x' and 'bins'

In [92]:
yes_ctgs.value_counts().apply(lambda x:x/yes_ctgs.count())
# 인원수가 맞는지 확인
#alive 총인원수
len(titanic ['alive'])

NameError: name 'yes_ctgs' is not defined

In [93]:
#alive 행에 NAn이 있는지 확인
# nan 이 들어있는 행추출
titanic[titanic['age']].in

In [ ]:
# alive 891명 
# age 총 891 - 177   = 714명
# 카테고리별로 생존자 사망자 수를 합산
422+278 =700
그러면 14명은? 
# 1살이하 
titanic[titanic['age']<='1'] 
len(titanic[titanic['age']<='1'])

NameError: name 'df2' is not defined

NameError: name 'df2' is not defined