In [17]:
import pandas as pd

In [35]:
df=pd.read_csv('C:/Users/student/seaborn-data/titanic.csv')
#,sep='\t' 탭으로 구성된 속성값

In [36]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [37]:
print(df.shape)

(891, 15)

In [38]:
print(df.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [39]:
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [42]:
age_df=df['age']
print(type(age_df))

<class 'pandas.core.series.Series'>

In [43]:
subset=df[['age', 'alive','class']]
print(subset.head())

    age alive  class
0  22.0    no  Third
1  38.0   yes  First
2  26.0   yes  Third
3  35.0   yes  First
4  35.0    no  Third

In [44]:
print(df.loc[0])

survived                 0
pclass                   3
sex                   male
age                     22
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object

행단위 데이터추출 2개
loc : 인덱스 기준으로 행 데이터추출
iloc 행번호 기준으로 행데이터 추출
인덱스 head 메소드에서 실행한 결과에서 왼쪽번호가 인덱스
인덱스는 숫자또는문자
행 : 행번호는 데이터순서따라가기때문에 정수만으로 데이터조회 .추출가능 데이터프레임에선 확인불가

In [56]:
# 데이터 프레임마지막행 추출방법
# 1.

# shape[0] 에 행 크기가 저장되어 있다 (1704)

# shape[0] 에서 1 뺀 값으로 마지막 행 추출

number_of_rows = df.shape[0]
last_row_index = number_of_rows-1
print(df.loc[last_row_index])

survived                0
pclass                  3
sex                  male
age                    32
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 890, dtype: object

In [57]:
print(df.tail(n=2))

     survived  pclass   sex   age  sibsp  parch   fare embarked  class  who  \
889         1       1  male  26.0      0      0  30.00        C  First  man
890         0       3  male  32.0      0      0   7.75        Q  Third  man

     adult_male deck embark_town alive  alone
889        True    C   Cherbourg   yes   True
890        True  NaN  Queenstown    no   True

In [59]:
print(df.loc[[0,99,890]])

     survived  pclass   sex   age  sibsp  parch   fare embarked   class  who  \
0           0       3  male  22.0      1      0   7.25        S   Third  man
99          0       2  male  34.0      1      0  26.00        S  Second  man
890         0       3  male  32.0      0      0   7.75        Q   Third  man

     adult_male deck  embark_town alive  alone
0          True  NaN  Southampton    no  False
99         True  NaN  Southampton    no  False
890        True  NaN   Queenstown    no   True

In [45]:
print(df.loc[1])

survived               1
pclass                 1
sex               female
age                   38
sibsp                  1
parch                  0
fare             71.2833
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                yes
alone              False
Name: 1, dtype: object

In [47]:
print(df.loc[2])

survived                 1
pclass                   3
sex                 female
age                     26
sibsp                    0
parch                    0
fare                 7.925
embarked                 S
class                Third
who                  woman
adult_male           False
deck                   NaN
embark_town    Southampton
alive                  yes
alone                 True
Name: 2, dtype: object

In [48]:
print(df.loc[-1]) #없는값 오류

KeyError: -1

In [50]:
print(df.tail(n=2)) # 테일 메소드 인자 n 에 1전달 2전달시 2개 데이터추출

     survived  pclass   sex   age  sibsp  parch   fare embarked  class  who  \
889         1       1  male  26.0      0      0  30.00        C  First  man
890         0       3  male  32.0      0      0   7.75        Q  Third  man

     adult_male deck embark_town alive  alone
889        True    C   Cherbourg   yes   True
890        True  NaN  Queenstown    no   True

In [51]:
print(df.loc[[0, 10, 890]])

     survived  pclass     sex   age  sibsp  parch   fare embarked  class  \
0           0       3    male  22.0      1      0   7.25        S  Third
10          1       3  female   4.0      1      1  16.70        S  Third
890         0       3    male  32.0      0      0   7.75        Q  Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
10   child       False    G  Southampton   yes  False
890    man        True  NaN   Queenstown    no   True

In [52]:
subset_loc=df.loc[0] # loc시리즈 반환
subset_tail=df.tail(n=1) # tail은 데이터프레임 반환
print(type(subset_loc))

<class 'pandas.core.series.Series'>

In [53]:
#데이터 순서의미 행번호 사용추출 iloc 속성은 데이터 순서를 의미하는 행번호
print(df.iloc[0])

survived                 0
pclass                   3
sex                   male
age                     22
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object

In [54]:
print(df.iloc[-1]) #마지막행 데이터추출

survived                0
pclass                  3
sex                  male
age                    32
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 890, dtype: object

In [55]:
#데이터의 행번호를 리스트에 담아 전달시 여러데이터 한번에 추출가능
print(df.iloc[[0,99,890]])

     survived  pclass   sex   age  sibsp  parch   fare embarked   class  who  \
0           0       3  male  22.0      1      0   7.25        S   Third  man
99          0       2  male  34.0      1      0  26.00        S  Second  man
890         0       3  male  32.0      0      0   7.75        Q   Third  man

     adult_male deck  embark_town alive  alone
0          True  NaN  Southampton    no  False
99         True  NaN  Southampton    no  False
890        True  NaN   Queenstown    no   True